.errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 0.25rem;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    width: 240px;
    align-items: center;
    margin: 1%;
}

button[type='submit'] {
    margin-top: 1rem;
}

input[type='email'],
input[type='text'],
input[type='number'] {
    padding: 0.65rem 0.5rem;
    font-size: 1rem;
    /* border: 2px solid aquamarine; */
    /* background-color: grey; */
    color: var(--gray-800);
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
